body {
    background-color: rgb(29, 29, 29);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}
.header h1 {
    width: fit-content;
    font-size: 32px;
    font-weight: 700;
    color: aliceblue;
}
.wrap {
    display: flex;
    height: 80vh;
    align-items: center;
    margin: 0 auto;
    width: 400px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.container__item {
    height: 200px;
    display: flex;
    align-items: center;
}
.container__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 160px;
    text-align: center;
    font-size: 24px;
    color: #14105d;
    background-color: rgb(111, 250, 255);
    border: 2px solid #5e59b0;
    border-radius: 4px;
    transition: all 0.4s;
}
.container__item a:hover {
    height: 50px;
    width: 180px;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
}